<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">todo</h1>
      <p><%= t('main_head') %></p>
      <p><a class="btn btn-primary btn-lg" href="<%= lists_path %>" role="button"><%= t('to_work') %> &raquo;</a></p>
    </div>
  </div>
  <div class="container text-center">
    <!-- Example row of columns -->
    <%= image_tag "main.jpg" %>


  </div> <!-- /container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2><%= t('available') %></h2>
          <p><%= t('available_text') %></p>
        </div>
        <div class="col-md-4">
          <h2><%= t('functionally') %></h2>
          <p><%= t('functionally_text') %></p>
        </div>
        <div class="col-md-4">
          <h2><%= t('conveniently') %></h2>
          <p><%= t('conveniently_text') %></p>
        </div>
      </div>
    </div>
  </div>
</main>